.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}
  
@keyframes skeleton-loading {
    0% {
        background-color: #e3e0e0;
    }
    100% {
        background-color: #f9f6f6;
    }
}


.skeleton-card{
    width: 200px;
    height: 200px;
}