.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    margin-bottom: 15px;
}
  
@keyframes skeleton-loading {
    0% {
        background-color: #e3e0e0;
    }
    100% {
        background-color: #f9f6f6;
    }
}


.skeleton-image{
    width: 220px;
    height: 220px;
}

.skeleton-title{
    width: 160px;
    height: 30px;
}

.skeleton-text{
    width: 170px;
    height: 20px;
}


//Card styles
.card-vertical{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.card-horizontal{
    display: flex;
    max-width: 450px;
    align-items: center;
    gap: 10px;
}

.align-skeletons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 600px) { //Responsive styles in mobile

    mat-card >.skeleton-image{
        width: 175px;
        height: 175px;
    }
    .card-vertical{
        width: 190px;
    }
}


//Table
.skeleton-table{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.skeleton-table > div{
    margin: 25px;
    flex: 1 0 21%;
} 