<div class="form-container">
    <h1>Iniciar Sesión</h1>
    <form class="form-body" [formGroup]="logingForm" (ngSubmit)="login()">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input required matInput placeholder="usuario@correo.com" formControlName="email">   
            <mat-error *ngIf="logingForm.controls['email'].invalid && (logingForm.controls['email'].dirty || logingForm.controls['email'].touched)">
                <mat-error *ngIf="logingForm.controls['email'].errors">
                Ingrese Usuario
                </mat-error>
            </mat-error>         
        </mat-form-field>       

        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input required matInput placeholder="Contraseña" type='password' formControlName="password">
            <mat-error *ngIf="logingForm.controls['password'].invalid && (logingForm.controls['password'].dirty || logingForm.controls['password'].touched)">
                <mat-error *ngIf="logingForm.controls['password'].errors">
                Ingrese Contraseña
                </mat-error>
            </mat-error>  
        </mat-form-field>        

        <div class="section-buttons">
            <button type="submit" mat-flat-button color="primary">
                Enviar
            </button>
        </div>
        
        <div class="google-button">
            <button type="button" class="login-with-google-btn" (click)="loginWithGoogle()">
                Ingresar con google
            </button>
        </div>

    </form>
</div>
