<div class="content">
    
    <span class="mat-h1">{{text}}</span>
    <div class="form">
        <mat-form-field appearance="fill">
            <mat-label>Elegir monto</mat-label>
            <mat-select [(value)]="value">
              <mat-option *ngFor="let val of values" [value]="val.amount">
                ${{val.amount}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="send(urlOfValue(value))">
            <img src='../../../../../assets/images/mercadopagologo.png' alt="">
            Contribuir con ${{value}}
        </button>
    </div>
    
</div>