<div class="content">
    
    <span class="mat-h1">{{text}}</span>
    <form class="form">
        <mat-form-field appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput autocomplete="off" [formControl]="cant" placeholder="$">

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="send()">
            <img src="https://img.icons8.com/color/452/mercado-pago.png" alt="">
            Contribuir
        </button>
    </form>
    
</div>