.text{
    font-size: 35px;
    display: flex;
    align-items: center;
}
.content{
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.form{
    display: flex;
}
button{
    margin-bottom: 1.34375em;
    padding: 0 2.5em;
}
img{
    width: 50px;
    margin: 5px 8px 5px 0;
}
mat-slider{
    width: 200px;
    margin-right: 10px;
}
mat-form-field{
    width: 30%;
}