mat-card{
    max-width: 300px;
    text-align: center;
}

img{
    max-width: 240px;
    max-height: 240px;
}

.mat-card-header .mat-card-title{
    font-size: 25px;
}

.mat-card-header{
    justify-content: center;
}


.cardFlex{
    display: flex;
    max-width: 420px;
}

.mr-0{
    margin-right: 0;
}