<mat-toolbar >
   <span>Somos Más</span>
   <div class="nav-buttons">
    <a 
        mat-button 
        *ngFor="let link of navLinks" 
        [routerLink]="'/' + link.routerlink"
        routerLinkActive  
        #routerLink="routerLinkActive" 
        [color]="routerLink.isActive ? 'primary' : ''"
    >
        {{link.name}}
    </a>


  </div>
   <span class="example-spacer"></span>
   <span *ngIf="!logged">

       <button mat-button style="margin-right: 15px;" routerLink="/auth/login">
            Log in
        </button>
        <button mat-raised-button color="primary" routerLink="/auth/registro">
            Registrate
        </button>
    </span>
 </mat-toolbar>
