<mat-toolbar >
   <span>Somos Más</span>
   <div class="nav-buttons">
    <a 
        mat-button 
        *ngFor="let link of navLinks" 
        [routerLink]="'/' + link.routerlink"
        routerLinkActive  
        #routerLink="routerLinkActive" 
        [color]="routerLink.isActive ? 'primary' : ''"
    >
        {{link.name}}
    </a>


  </div>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
 </mat-toolbar>
