<mat-toolbar >  

    <!-- Menu mobile -->
  <span *ngIf="mobile">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let link of navLinks"  [routerLink]="'/' + link.routerlink">
        {{link.name}}
      </button>
    </mat-menu>
  </span>

   <span>Somos Más</span>

   <!-- Menu desktop -->
   <div *ngIf="!mobile" class="nav-buttons">
    <a 
        mat-button 
        *ngFor="let link of navLinks" 
        [routerLink]="'/' + link.routerlink"
        routerLinkActive  
        #routerLink="routerLinkActive" 
        [color]="routerLink.isActive ? 'primary' : ''"
    >
        {{link.name}}
    </a>
  </div>

   <span class="example-spacer"></span>
   <span *ngIf="!logged">

       <button mat-button style="margin-right: 15px;" routerLink="/auth/login">
            Log in
        </button>
        <button mat-raised-button color="primary" routerLink="/auth/registro">
            Registrate
        </button>
    </span>
 </mat-toolbar>
