<p>contact works!</p>
<div class="form-container">
<form class="example-form" [formGroup]="formContact" (ngSubmit)="addLogin(formContact.value)">
    <div>
        <mat-form-field class="example-form" appearance="fill" id="name-form-contact" name="name-form-contact">
            <mat-label>Name</mat-label>
            <input type="text" matInput #message1 maxlength="256" placeholder="Escribe tu nombre" formControlName="name">
            <mat-error *ngIf="formContact.get('name')?.invalid">{{this.nameError}}</mat-error>
           
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput #message2 placeholder="Escribe tu email" formControlName="email">
            <mat-error *ngIf="formContact.get('email')?.invalid">{{this.emailError}}</mat-error>
        </mat-form-field>
    </div>


    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput #message3  placeholder="Escribe tu telefono" formControlName="phone">
            <mat-error *ngIf="formContact.get('phone')?.invalid">{{this.phoneError}}</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput maxlength="256" placeholder="Deja tu comentario" formControlName="message"></textarea>
        <mat-error *ngIf="formContact.get('message')?.invalid">{{this.messageError}}</mat-error>
      </mat-form-field>

    
    
        
        
        <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="formContact.invalid">Enviar</button>
        </div>



</form>
</div>
