<mat-toolbar color="primary" class="mat-elevation-z3">
    <button mat-icon-button (click)="onSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title" [routerLink]="['backoffice/home']">Logo ONG</span>
    
    <span class="spacer"></span>
    <span  class="pr-3 username" *ngIf="logged$ | async as user">
      <p>{{(user.name ? 
        user.name : 
        user.displayName)}}</p>
    </span>
    <button  mat-icon-button *ngIf="logged$ | async" class="border" (click)="logOut()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>