<h1>Sumate a la causa</h1>
<div class="form-container">
  <form class="form-body" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input
        required
        matInput
        placeholder="Juan Jose Gonzalez"
        type="text"
        formControlName="name"
      />
      <mat-error *ngIf="f.name.errors">
        <mat-error *ngIf="f.name.errors.required">Nombre requerido</mat-error>        
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input
        required
        matInput
        placeholder="usuario@correo.com"
        type="email"
        formControlName="email"
      />
      <mat-error *ngIf="f.email.errors">
        <mat-error *ngIf="f.email.errors.required">Correo requerido</mat-error>
        <mat-error *ngIf="f.email.errors.email || f.email.errors.pattern"
          >Debe proporcionar un correo válido</mat-error
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        required
        matInput
        placeholder="Contraseña"
        type="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': f.password.errors }"
      />
      <mat-error
        *ngIf="f.password.errors"
        style="display: block; overflow: hidden"
      >
        <mat-error *ngIf="f.password.errors.required"
          >Contraseña requerida</mat-error
        >
        <mat-error *ngIf="f.password.errors.minlength"
          >Debe tener al menos 6 caracteres</mat-error
        >
        <mat-error *ngIf="f.password.errors.pattern"
          >Debe contener minimo 1 letra, 1 numero y 1 caracter
          especial</mat-error
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Confirmar Contraseña</mat-label>
      <input
        required
        matInput
        placeholder="Contraseña"
        type="password"
        formControlName="confirmPassword"
        [ngClass]="{ 'is-invalid': f.confirmPassword.errors }"
      />
      <mat-error *ngIf="f.confirmPassword.errors">
        <mat-error *ngIf="f.confirmPassword.errors.required"
          >Confirmar contraseña requerido</mat-error
        >
        <mat-error *ngIf="f.confirmPassword.errors.mustMatch"
          >Las contraseñas deben coincidir</mat-error
        >
      </mat-error>
    </mat-form-field>
    <div class="form-field">
      <button
        type="button"
        [ngClass]="{
          'error-color': termsOfServiceTouched && !termsOfServiceResult
        }"
        mat-stroked-button
        color="basic"
        (click)="openDialog()"
      >
        Leer Términos y Condiciones
        <mat-checkbox
          *ngIf="termsOfServiceResult"
          [checked]="termsOfServiceResult"
          disabled
          class="example-margin"
          style="padding-left: 10px"
        ></mat-checkbox>
      </button>
      <mat-error *ngIf="termsOfServiceTouched && !termsOfServiceResult">
        Es necesario Aceptar los Términos y Condiciones.
      </mat-error>
      <mat-error *ngIf="f.longitude.errors || f.latitude.errors">
        Ubicacion requerida
      </mat-error>
    </div>
    <div class="section-buttons">
      <button
        type="submit"
        [disabled]="!termsOfServiceResult"
        mat-flat-button
        color="primary"
      >
        Enviar
      </button>
      <button type="reset" (click)="onReset()" mat-flat-button color="accent">
        Reset
      </button>
    </div>    
  </form>  
  <div class="map-container">
    <app-tomtom-maps (newItemEvent)="addItem($event)"></app-tomtom-maps>    
  </div> 
</div>

