<!-- 
Crear un componente activities-detail. 
El componente de detalle deberá renderizarse al ingresar a la ruta /Actividades/:id. 
En la sección superior, mostrará de forma dinámica el título de la actividad, utilizando el componente para mostrar títulos ( OT285-50: Crear componente reutilizable para mostrar títulos y utilizar pipes.FINALIZADA ), y el contenido de la misma, que posteriormente serán datos recibidos por API.

 -->

 
<p>component activities-detail-52</p>  
<!-- agregar etiqueta de componente <app-nombrrecomponente></app-nombrrecomponente> -->