<div class="form-container">
    <h1 *ngIf="editing">Editar miembro</h1>
    <h1 *ngIf="!editing">Crear nuevo miembro</h1>


    <form [formGroup]="form">
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="" formControlName="name">
            <mat-error *ngIf="form.controls.name.hasError('minlength') && !form.controls.name.hasError('required')">
                El nombre debe tener minimo 4 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.name.hasError('required')">
                Un nombre es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <div class="fileInputContainer">
            <input #fileUpload class="file-input" type="file" (change)="fileChangeEvent($event)" accept="image/png, image/jpg">
            <button mat-raised-button color="primary" (click)="fileUpload.click(); form.controls.image.markAsTouched()" >
                Subir Imagen
            </button>
            {{fileName || 'Ninguna imagen subida'}}
            <mat-error *ngIf="form.controls.image.hasError('required') && form.controls.image.touched">
                Debes elegir una imagen
              </mat-error>
              <mat-error *ngIf="form.controls.image.hasError('InvalidType') && !form.controls.image.hasError('required')">
                La imagen debe ser formato .jpg o .png
            </mat-error>
        </div>

        <ckeditor class="input-form" formControlName="description" [editor]="editor"></ckeditor>
        
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Links de redes sociales</mat-label>
            <mat-chip-list #linkList aria-label="Links" multiple>
                <mat-chip class="chip" *ngFor="let link of form.value.links" [selected]="link" [value]="link" (removed)="removeLink(link)">
                    {{link}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input
                #inLinks
                placeholder="Agregar link"
                [matChipInputFor]="linkList"
                (matChipInputTokenEnd)="addLink($event)"
                (keydown.enter)="clearInput(inLinks)"
                (focus)="form.controls.links.markAsTouched()"
                >
                <button mat-raised-button color="primary" (click)="addLink(inLinks)">Agregar</button>
            </mat-chip-list>
            <div>
                <mat-error *ngIf="form.controls.links.hasError('required') && form.controls.links.touched">
                    Links requeridos
                </mat-error>
                <mat-error *ngIf="form.controls.links.hasError('InvalidUrl')">
                    Agrega links validos
                </mat-error>

            </div>
        </mat-form-field>

        <div class="section-buttons">
            <button mat-raised-button color="primary" (click)="send()" [disabled]="form.invalid">Enviar</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>