.mt-20{
    margin-top: 20px;
}

.image-slide{
    height: 100px;
    width: 100px;
}

.title-slides{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container-buton{
    margin-top: 50px;
    text-align: center;
}

.table-slides{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 50px;
}