<div class="form-container">
  <div *ngIf="!slideEmpty">
    <h1>Editar Slide</h1>
  </div>
  <div *ngIf="slideEmpty">
    <h1>Crear Slide</h1>
  </div>
  <form #f="ngForm" [formGroup]="form" (ngSubmit)="sendSlide($event)">
    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Nombre<span class="error-color">*</span></mat-label>
      <input
        matInput
        placeholder="Introduce un Nombre"
        formControlName="name"
      />
      <mat-error *ngIf="name?.hasError('required')">
        El Nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Orden<span class="error-color">*</span></mat-label>
      <input
        type="number"
        matInput
        placeholder="Numero de Orden"
        formControlName="order"
      />
      <mat-error *ngIf="order?.hasError('required')">
        El Orden es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <div class="mt-20">
      <mat-label style="display: block"
        >Elegir Imagen<span class="error-color">*</span></mat-label
      >
      <input
        type="file"
        class="input-form"
        placeholder="Introduce una Imagen"
        formControlName="image"
        (change)="loadImg($event)"
        accept=".png, .jpg, .jpeg"
      />
      <mat-error *ngIf="image?.hasError('required') && image?.touched">
        Una Imagen es <strong>requerida</strong>
      </mat-error>
      <mat-error
        *ngIf="image?.hasError('InvalidType') && !image?.hasError('required')"
      >
        La imagen debe ser formato .jpg o .png
      </mat-error>
    </div>
    <div class="mt-20">
      <mat-label style="display: block"
        >Descripción<span class="error-color">*</span></mat-label
      >
      <ckeditor
        class="input-form"
        [editor]="Editor"
        formControlName="description"
      ></ckeditor>
      <mat-error
        *ngIf="description?.hasError('required') && description?.touched"
      >
        Una Descripción es <strong>requerida</strong>
      </mat-error>
    </div>
    <div class="section-buttons">
      <button
        type="submit"
        mat-raised-button
        [disabled]="!f.valid"
        color="primary"
      >
        Enviar
      </button>
      <button type="button" mat-raised-button color="accent">Cancelar</button>
    </div>
  </form>
</div>

<div class="container-buton">
  <button class="button-create" type="button" mat-raised-button color="primary" (click)="navigateCreate()">Crear</button>
</div>
  
<h2 class="title-slides">Listado Slides</h2>

<table  class="table mat-elevation-z9 table-slides">
 <tr>

    <th> No. </th>
    <th> Title </th>
    <th> Image </th>
    <th> Order </th>
    <th> Edit </th>
    <th> Delete </th>

  </tr>
 
  <tr *ngFor="let miArray of mySlides; let i = index">

    <td>{{i+1}}</td>
    <td>{{miArray.title}}</td>
    <td><img class="image-slide" src={{miArray.image}} alt=""></td>
    <td>{{miArray.order}}</td>
    <td>
      <button class="accionButton" mat-raised-button color="primary"><mat-icon>edit</mat-icon>Editar
        </button>
    </td>
    <td>
      <button class="accionButton" mat-raised-button color="accent" (click)="deleteSlide(i)"><mat-icon>delete</mat-icon>Eliminar
        </button>
    </td>

  </tr>
  
</table>
<br>
<br>
