<div class="form-container">
  <div *ngIf="!slideEmpty">
    <h1>Editar Slide</h1>
  </div>
  <div *ngIf="slideEmpty">
    <h1>Crear Slide</h1>
  </div>
  <form #f="ngForm" [formGroup]="form" (ngSubmit)="sendSlide($event)">
    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Introduce un Nombre"
        formControlName="name"
      />
      <mat-error *ngIf="name?.hasError('required')">
        El Nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-form" appearance="fill">
      <mat-label>Order</mat-label>
      <input
        matInput
        placeholder="Introduce un Orden"
        formControlName="order"
      />
      <mat-error *ngIf="order?.hasError('required')">
        El Order es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <div class="input-form">
      <mat-label style="display: block">Elegir Imagen</mat-label>
      <input
        type="file"
        placeholder="Introduce una Imagen"
        formControlName="image"
        (change)="loadImg($event)"
      />
      <mat-error *ngIf="image?.hasError('required') && image?.touched">
        Una Imagen es <strong>requerida</strong>
      </mat-error>
    </div>
    <div class="input-form" style="margin-top: 20px">
      <mat-label style="display: block">Descripción</mat-label>
      <ckeditor [editor]="Editor" formControlName="description"></ckeditor>
      <mat-error
        *ngIf="description?.hasError('required') && description?.touched"
      >
        Una Descripción es <strong>requerida</strong>
      </mat-error>
    </div>
    <div class="section-buttons">
      <button
        type="submit"
        mat-raised-button
        [disabled]="!f.valid"
        color="primary"
      >
        Enviar
      </button>
      <button type="button" mat-raised-button color="accent">Cancelar</button>
    </div>
  </form>
</div>
