<div class="content">
    <button mat-raised-button color="primary" (click)="redirectToCreateForm()">Crear nueva categoria</button>

    <table *ngIf="categories$ | async as categories" mat-table [dataSource]="categories" class="table mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Fecha de creacion </th>
          <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
        </ng-container>

        <ng-container matColumnDef="accions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="accionButtonContainer" *ngIf="element != categoryFlag">
                    <button class="accionButton" mat-raised-button color="primary" (click)="edit()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="accionButton" mat-raised-button color="accent" (click)="delete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="accionButtonContainer" *ngIf="element == categoryFlag">
                    <button *ngIf="deleting" class="accionButton" mat-raised-button color="primary" (click)="trueDelete()">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button *ngIf="deleting" class="accionButton" mat-raised-button color="accent" (click)="cancel()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <div *ngIf="errorMessage$ | async as errorMessage">
        Error: {{errorMessage}}
    </div>
</div>