<mat-toolbar class="toolBar">          
  <button class="btn-responsive" mat-button *ngFor="let Item of navegacion" (click)="redirectTo(Item.redirectTo)">{{Item.name}} </button>
  <div class="flex" (click)="redirectTo(ongData.redirectTo)">
    <img class="logo" src={{ongData.logo}} alt="">
    <h2 > {{ongData.name | uppercase}} </h2>
  </div>
  <button class="btn-responsive" mat-button *ngFor="let Item of social" (click)="redirectTo(Item.redirectTo)">{{Item.name}} </button>
</mat-toolbar>
<div class="redes-container">
  <ul>
    <li>
      <a href="#" class="facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="label">
      <p>Facebook</p>
    </li>
    <li>
      <a href="#" class="instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li class="label">
      <p>Instagram</p>
    </li>
    <li>
      <a href="#" class="pinterest">
        <i class="fab fa-pinterest-p"></i>
      </a>
    </li>
    <li class="label">
      <p>Pinterest</p>
    </li>
    <li>
      <a href="#" class="twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="label">
      <p>Twitter</p>
    </li>    
  </ul>
</div>