<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened"
    ><mat-list>
      <mat-list-item><a href="/backoffice">backoffice</a></mat-list-item>
      <mat-list-item *ngFor="let route of routes"
        ><a [href]="['/backoffice/' + route.path]">
          {{ route.path }}
        </a></mat-list-item
      >
    </mat-list></mat-sidenav
  >
  <mat-sidenav-content
    ><p>
      <button mat-button (click)="sidenav.toggle()">Navegación</button>
    </p></mat-sidenav-content
  >
</mat-sidenav-container>
